:root{
    --red:crimson;
    --green:#53bf9d;
    --yellow:#ffc54d;
    --white:whitesmoke;
}

body,h2{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.landing{
    background-image: url(../pexels-thepaintedsquare-858094.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    color:var(--white);
}

header a{
    text-decoration: none;
    color:var(--yellow);
}

header{
    display:flex;
    padding: 1em;
}

#logo{
    flex:3;
    font-size: 1.25em;
}

nav{
    flex:2;
    display:flex;

}

nav a{
    flex:1;
}

nav a:hover{
    color:var(--green);
}

.maintext{
    display:flex;
    flex-direction: column;
    height:50vh;
    justify-content: center;
    padding:2em;
}

.tagline1{
    color:var(--red);
    font-size: 2.5em;
    font-weight: bolder;
}

.tagline2{
    color:var(--yellow);
}

.maintext div{
    margin-top:.75em;
}

.maintext button{
    width:20vw;margin-top:2em;
    margin-top:2em;
    border-radius:10px;
    padding:.7em;
    background-color: var(--green);
    color:var(--white);
    border: 1px solid var(--green);
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(to right,rgb(100,100,100),rgb(145, 144, 144));
    color:var(--white);
}

#menuheading,#locheading{
    background: linear-gradient(to right,rgb(100,100,100),rgb(145, 144, 144));
    font-size: 2.5em;;
    color:var(--red);
    display:flex;
    justify-content: center;
}

.menu th{
    color:var(--green);
    font-size: 1.8em;
}

table{
    width:100%;
    padding:1em;
}

.menu tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
    
}


